.container {
    height: 340px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.container .IFuOkc {
    background-color: rgba(208,183,231,1);
    background-image: url(https://ssl.gstatic.com/atari/images/simple-header-blended-small.png);
}

.container .IFuOkc:before {
    background-color: rgba(33,33,33,1);
    opacity: 0.4;
    display: block;
}

.container .zfr3Q {
    color: rgba(255,255,255,1);
}

.container .qnVSj {
    color: rgba(255,255,255,1);
}

.container .Glwbz {
    color: rgba(255,255,255,1);
}

.container .duRjpb {
    color: rgba(255,255,255,1);
}

.container .qLrapd {
    color: rgba(255,255,255,1);
}

.container .JYVBee {
    color: rgba(255,255,255,1);
}

.container .aHM7ed {
    color: rgba(255,255,255,1);
}

.container .OmQG5e {
    color: rgba(255,255,255,1);
}

.container .NHD4Gf {
    color: rgba(255,255,255,1);
}